In [1]:
import pandas as pd

In [3]:
data = pd.read_csv("lat_longs/lat_longs.txt", sep=" ", encoding="utf-8")

In [6]:
data.head()

        36.7  3.216666666666667      <http://dbpedia.org/resource/Algeria>
0  42.500000           1.516667      <http://dbpedia.org/resource/Andorra>
1  12.516667         -70.033333        <http://dbpedia.org/resource/Aruba>
2  -8.833333          13.333333       <http://dbpedia.org/resource/Angola>
3  41.333333          19.800000      <http://dbpedia.org/resource/Albania>
4  34.533333          69.133333  <http://dbpedia.org/resource/Afghanistan>

In [5]:
data.to_csv("lat_longs/lat_longs_formatted.txt", encoding="utf-8", index=False)

In [7]:
data.head()

        36.7  3.216666666666667      <http://dbpedia.org/resource/Algeria>
0  42.500000           1.516667      <http://dbpedia.org/resource/Andorra>
1  12.516667         -70.033333        <http://dbpedia.org/resource/Aruba>
2  -8.833333          13.333333       <http://dbpedia.org/resource/Angola>
3  41.333333          19.800000      <http://dbpedia.org/resource/Albania>
4  34.533333          69.133333  <http://dbpedia.org/resource/Afghanistan>